.login_block1 {
  height: 36px;
  margin-top: 3.3rem;
}

.login_block1 > input, .login_block2 > input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  color: #999;
  text-indent: 2rem;
  border-radius: 2rem;
  border: 1px solid #666;
  outline: none;
  box-sizing: border-box;
}

.login_block2 {
  overflow: hidden;
  height: 36px;
  margin-top: 1.5rem;
}

.login_block2 > input {
  float: left;
  width: 62.67%;
}

.login_block2 > span {
  display: block;
  width: 32.76%;
  height: 100%;
  font-size: 1.4rem;
  line-height: 36px;
  border-radius: 2rem;
  border: 1px solid #666;
  color: #999;
  float: right;
  box-sizing: border-box;
  text-align: center;
  cursor: auto;
}

/*登录选择块*/

.login_choose {
  margin-top: 9.4rem;
  text-align: center;
}

.login_choose > p {
  text-align: center;
  font-size: 1.4rem;
}

.login_choose ul {
  overflow: hidden;
  margin-top: 2.5rem;
  box-sizing: border-box;
  padding: 0 20%;
  position: relative;
}

.login_choose ul li {
  width: 21.56%;
  text-align: center;
  float: left;
  /*padding:0 10%;*/
  box-sizing: border-box;
}

.login_choose ul li:last-child {
  float: right;
}

.login_choose ul li:nth-child(2) {
  width: 13%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.login_choose ul li a {
  display: inline-block;
  font-size: 1.2rem;
  color: #333;
}

.login_choose ul li img {
  width: 100%;
  vertical-align: middle;
}

/*确认登录块*/
.login_sure {
  margin-top: 1.5rem;
}

.login_sure a {
  display: block;
  width: 100%;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #999;
  background: #eee;
  border-radius: 2rem;
  font-size: 1.5rem;
}

/*.login_sure a.hover {*/
/*background: #e92230;*/
/*color: #fff;*/
/*}*/

.hover {
  background: #e92230!important;
  color: #fff!important;
}

.prov_hover{
  border: 1px solid #e92230!important;
  color: #e92230!important;
  cursor: pointer!important;
}

/*阴影块样式*/
.shadow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
}

/*模态框样式*/
.model {
  width: 270px;
  height: 121px;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 101;
  max-width: 522px;
  border-radius: 10px;
}

.model > p {
  text-align: center;
  height: 77px;
  font-size: 18px;
  border-bottom: 1px solid #e8e8e8;
  line-height: 77px;
}

.model > div {
  height: 44px;
  overflow: hidden;
  border-radius: 10px;
}

.model > div > button {
  float: left;
  display: block;
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 44px;
  font-size: 18px;
  color: #e92230;
  border: none;
  outline: none;
  cursor: pointer;
  background: #fff;
  text-align: center;
}
